<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="show_sql">true</property>
		<mapping class="com.nan.ia.server.db.entities.UserTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountBookDeleteTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountBookMemberTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountBookMemberTblId" />
		<mapping class="com.nan.ia.server.db.entities.AccountBookTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountCategoryDeleteTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountCategoryTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountItemDeleteTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountItemTbl" />
		<mapping class="com.nan.ia.server.db.entities.AccountTargetTbl" />
		<mapping class="com.nan.ia.server.db.entities.UserExtendTbl" />
		<mapping class="com.nan.ia.server.db.entities.UserTbl" />
	</session-factory>
</hibernate-configuration>